@keyframes blink {
  0% {
    background-color: var(--text-color-shade2);
  }
  49% {
    background-color: var(--text-color-shade2);
  }
  50% {
    background-color: transparent;
  }
  99% {
    background-color: transparent;
  }
  100% {
    background-color: var(--text-color-shade2);
  }
}

@keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }
  40% {
    -webkit-transform: translateY(-10px);
    -ms-transform: translateY(-10px);
    transform: translateY(-10px);
  }
  60% {
    -webkit-transform: translateY(-5px);
    -ms-transform: translateY(-5px);
    transform: translateY(-5px);
  }
}

@keyframes tooltip-animation {
  0% {
    width: 0px;
  }

  25% {
    width: 27px;
  }

  50% {
    width: 54px;
  }

  75% {
    width: 81px;
  }

  100% {
    width: 135px;
  }
}

@keyframes dot {
  to {
    transform: translateX(
      calc(var(--loader-width) - var(--dot-margin) * 2 - var(--dot-width))
    );
  }
}

@keyframes dots {
  to {
    transform: translateX(calc(-1 * var(--dot-margin) * 2 - var(--dot-width)));
  }
}
