/* variables declared here - these are the colors for our pages, as well as the font stacks and sizes. */
:root {
  --black: #171321;
  --dkblue: #0d314b;
  --plum: #4b0d49;
  --hotmag: #ff17e4;
  --magenta: #e310cb;
  --aqua: #86fbfb;
  --green: #646f60;
  --white: #f7f8fa;
  --font-size: 1.3rem;
  --mono: "Oxygen mono", monospace;
  --sans: Oxygen, sans-serif;
}

.light-theme {
  /* for section backgrounds */
  --primary: #fcfbfe;
  --primary-shade2: rgb(245 245 245);
  /* for text backgrounds */
  --text-color: #222;
  --text-color-shade2: #198754;
  /* for buttons */
  /* --button-color: #198754; */
  --button-color: #49754b;
  --button-color-shade2: #44ca8c;
  /* gradient color */
  --gradient-color: #c8c8c8;
  --gradient-color-shade2: #706f6f;
  /* shadow */
  --shadow: rgba(0, 0, 0, 0.15);
  --highlighted-section: #98ffcf;
  /* bg image */
  --background-image: url("/img/background.jpg");
  --background-gradient: linear-gradient(
    63deg,
    rgba(252, 251, 254, 0.1) 0%,
    rgba(255, 255, 255, 0.6) 90%
  );
  transition: all 1s ease-out;
  -webkit-transition: all 1s ease-in-out;
}

.dark-theme {
  /* for section backgrounds */
  --primary: rgb(42 42 42);
  --primary-shade2: #222;
  /* for text backgrounds */
  --text-color: #fcfbfe;
  --text-color-shade2: #f9004d;
  /* for buttons */
  --button-color: #f9004d;
  --button-color-shade2: #db0045;
  /* gradient color */
  --gradient-color: #c8c8c8;
  --gradient-color-shade2: #706f6f;
  /* shadow */
  --shadow: rgba(225, 225, 225, 0.15);
  --highlighted-section: #780025;
  /* bg image */
  --background-image: url("/img/dark\ background\ (1).png");
  --background-gradient: linear-gradient(
    63deg,
    rgba(60, 60, 60, 0.1) 0%,
    rgba(0, 0, 0, 0.5) 90%
  );
  transition: all 1s ease-out;
  -webkit-transition: all 1s ease-in-out;
}

/* border box model: https://css-tricks.com/box-sizing/ */
html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}
/* generic styles for the page */
body {
  padding: 0;
  margin: 0;
  font-family: var(--sans);
  background-color: var(--primary);
  color: var(--text-color);
  font-size: var(--font-size);
  overflow-x: hidden;
}
h1,
h2,
h3,
h4 {
  margin: 0;
}
a {
  color: var(--button-color);
}

a:hover {
  text-decoration: none;
}

a span {
  font-size: 1;
}

img {
  width: 100%;
}

pre {
  margin: 0px;
}

.flex {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* .prefix {
  display: none;
} */

/* background color div */
.section-hightligh {
  background-color: var(--highlighted-section);
}

.section-blue {
  background-color: var(--dkblue);
}

.blackbox {
  background-color: var(--black);
  padding: 1rem;
  border-radius: 10px;
  color: var(--white);
  font-size: 1rem;
  line-height: 1.5;
}

.gradient {
  background: linear-gradient(
    90deg,
    var(--gradient-color) 10%,
    var(--gradient-color-shade2) 50%,
    var(--gradient-color) 90%
  );
  height: 2px;
}

/* intro styles */
#intro {
  padding: 0rem 2rem;
  margin-top: 102px;
  min-height: calc(100svh - 105px);
  grid-row: 1/2;
  grid-column: 1/2;
  display: flex;
  align-items: center;
  background-image: var(--background-image);
  background-repeat: no-repeat;
  background-size: cover;
  transition: background-image 1s ease-in-out;
}

#into div {
  min-width: 620px;
}

#intro p {
  font-size: 1rem;
  line-height: 1.5;
}

#intro .name {
  font-family: var(--mono);
  font-size: 1rem;
  margin: 0px;
}

.name span {
  font-family: var(--sans);
  font-size: 7.5vw;
  color: var(--text-color);
  font-weight: bold;
  display: block;
  font-weight: 300;
}

h2 {
  font-size: 6vw;
}

.typed-text {
  font-weight: normal;
  color: var(--text-color-shade2);
}

/* typing */
.cursor {
  display: inline-block;
  background-color: var(--text-color-shade2);
  margin-left: 0.1rem;
  width: 3px;
  height: 3rem;
  animation: blink 1s infinite;
  -moz-animation: blink 1s infinite;
}

.cursor.typing {
  animation: none;
}

/* contact section */
#contact {
  max-width: 800px;
  text-align: center;
  margin: 0 auto;
  padding: 3rem 1rem;
}

#contact p:last-child {
  margin-top: 3rem;
}

/* navigation */
nav {
  font-family: var(--mono);
  font-size: 80%;
  padding: 1rem;
  position: fixed;
  top: 0px;
  background-color: var(--primary);
  opacity: 0.95;
  width: 100svw;
  box-shadow: 0 0px 15px 0 var(--shadow);
  z-index: 100;
}

nav .tooltip {
  position: fixed;
  visibility: hidden;
  top: 4rem;
  left: 54%;
  cursor: pointer;
  padding: 0.5rem;
  overflow: hidden;
  width: 136px;
  white-space: nowrap;
  background-color: var(--text-color);
  color: var(--primary);
  opacity: 0.5;
  border-radius: 0.5rem;
}

nav .theme-icon {
  width: calc(2rem - 4px);
  aspect-ratio: 1/1;
  margin-left: 1rem;

  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  -webkit-animation-iteration-count: infinite;
}

nav .theme-icon:hover {
  cursor: pointer;
  animation-name: bounce;
  -moz-animation-name: bounce;
}

.theme-icon:hover + .tooltip {
  visibility: visible;
  animation: tooltip-animation 0.5s;
  -moz-animation: tooltip-animation 0.5s;
}

nav h1 a {
  font-family: var(--sans);
  height: calc(2rem + 2px);
}

nav h1 a span {
  float: left;
  transition: transform 0.25s;
}

nav h1 a span:hover {
  /*have to   */
  transform: translateY(-3px);
}

nav ul {
  margin: 0;
  padding: 0 2rem 0 1rem;
  list-style-type: none;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

nav li > a:not(.Call-to-action-button):not([class*="fa-"]) {
  height: 32px;
}

nav h1 a:hover,
nav li > a:hover:not(.Call-to-action-button):not([class*="fa-"]) {
  border-bottom: 2px solid var(--button-color);
}

nav li > a:not(.Call-to-action-button) {
  display: flex;
  align-items: center;
}

nav li:first-child {
  flex-basis: 100%;
  text-align: center;
}
nav [class*="fa-"] {
  font-size: 150%;
  color: var(--text-color);
}
nav h1 [class*="fa-"] {
  font-size: 100%;
  color: var(--button-color);
}

nav a {
  color: var(--text-color);
  text-decoration: none;
  display: block;
}

.alias {
  cursor: alias;
}

.pointer {
  cursor: pointer;
}

/* nav a:hover,
nav [class*="fa-"]:hover {
  color: var(--button-color-shade2);
} */

.Call-to-action-button {
  background-color: var(--button-color);
  padding: 0.5rem;
  border-radius: 5px;
  font-family: var(--mono);
  text-decoration: none;
  color: var(--primary);
  font-weight: bold;
}

.Call-to-action-button:hover {
  color: var(--primary);
  background-color: var(--button-color-shade2);
}

#projects {
  padding: 4rem 2rem;
  background-color: var(--primary);
}

#projects h2 {
  margin-bottom: calc(2.5rem * 1.5);
}

#projects h3 {
  color: var(--text-color-shade2);
}

#projects h4 {
  font-size: 1rem;
  font-family: var(--mono);
}
#projects ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  gap: 1rem;
  font-size: 1rem;
}

#projects img {
  margin: 2rem 0 4rem 0;
  border-radius: 25px;
  padding: 1rem;
}

footer {
  text-align: center;
  padding: 1rem 1rem;
}

footer ul {
  list-style-type: none;
  padding: 0;
  margin: 1rem 0rem;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  gap: 3rem;
  font-size: 2rem;
}

footer div {
  font-size: 3.75vw;
}

footer a {
  color: var(--text-color);
  cursor: alias;
}

footer a:hover {
  border-bottom: 2px solid var(--button-color);
}

footer a span:hover {
  transform: translateY(-2px);
}

#timeline {
  background-color: var(--primary-shade2);
  padding: 4rem 2rem;
}

#timeline h2 {
  margin-bottom: calc(2.5rem);
}

.timeline {
  position: relative;
  width: 800px;
  margin: 0 auto;
  /* margin-top: 20px; */
  padding: 1em 0;
  list-style-type: none;
}

.timeline:before {
  position: absolute;
  left: 50%;
  top: 0;
  content: " ";
  display: block;
  width: 6px;
  height: 100%;
  margin-left: -3px;
  background: rgb(80, 80, 80);
  background: -moz-linear-gradient(
    top,
    rgba(80, 80, 80, 0) 0%,
    rgb(80, 80, 80) 8%,
    rgb(80, 80, 80) 92%,
    rgba(80, 80, 80, 0) 100%
  );
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    color-stop(0%, rgba(30, 87, 153, 1)),
    color-stop(100%, rgba(125, 185, 232, 1))
  );
  background: -webkit-linear-gradient(
    top,
    rgba(80, 80, 80, 0) 0%,
    rgb(80, 80, 80) 8%,
    rgb(80, 80, 80) 92%,
    rgba(80, 80, 80, 0) 100%
  );
  background: -o-linear-gradient(
    top,
    rgba(80, 80, 80, 0) 0%,
    rgb(80, 80, 80) 8%,
    rgb(80, 80, 80) 92%,
    rgba(80, 80, 80, 0) 100%
  );
  background: -ms-linear-gradient(
    top,
    rgba(80, 80, 80, 0) 0%,
    rgb(80, 80, 80) 8%,
    rgb(80, 80, 80) 92%,
    rgba(80, 80, 80, 0) 100%
  );
  background: linear-gradient(
    to bottom,
    rgba(80, 80, 80, 0) 0%,
    rgb(80, 80, 80) 8%,
    rgb(80, 80, 80) 92%,
    rgba(80, 80, 80, 0) 100%
  );
}

.timeline li {
  padding: 1em 0;
}

.timeline li:after {
  content: "";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

.direction-l {
  position: relative;
  width: 370px;
  float: left;
  text-align: right;
}

.flag-flex {
  display: flex !important;
  flex-wrap: wrap;
  justify-content: flex-end;
}

.move-from-right {
  animation: move-from-right 5s ease-in;
}

.direction-r {
  position: relative;
  width: 369px;
  float: right;
}

.flag-wrapper {
  position: relative;
  display: inline-block;

  text-align: center;
}

.flag {
  position: relative;
  display: inline;
  background: var(--primary);
  padding: 6px 10px;
  border-radius: 5px;
  z-index: 2;
  font-weight: 600;
  text-align: left;
}

.flag a {
  text-decoration: none;
  color: var(--text-color);
  cursor: alias;

  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  max-width: 340px;
}

.direction-l .flag {
  -webkit-box-shadow: -1px 1px 1px var(--shadow), 0 0 1px var(--shadow);
  -moz-box-shadow: -1px 1px 1px var(--shadow), 0 0 1px var(--shadow);
  box-shadow: -1px 1px 1px var(--shadow), 0 0 1px var(--shadow);
}

.direction-r .flag {
  -webkit-box-shadow: 1px 1px 1px var(--shadow), 0 0 1px var(--shadow);
  -moz-box-shadow: 1px 1px 1px var(--shadow), 0 0 1px var(--shadow);
  box-shadow: 1px 1px 1px var(--shadow), 0 0 1px var(--shadow);
}

.direction-l .flag:before,
.direction-r .flag:before {
  position: absolute;
  top: 50%;
  right: -40px;
  content: " ";
  display: block;
  width: 20px;
  aspect-ratio: 1/1;
  margin-top: -10px;
  background: var(--primary-shade2);
  border-radius: 10px;
  border: 4px solid var(--text-color-shade2);
}

.direction-r .flag:before {
  left: -40px;
}

.direction-l .flag:after {
  content: "";
  position: absolute;
  left: 100%;
  top: 50%;
  height: 0;
  width: 0;
  margin-top: -8px;
  border: solid transparent;
  border-left-color: var(--text-color);
  border-width: 8px;
  pointer-events: none;
}

.direction-r .flag:after {
  content: "";
  position: absolute;
  right: 100%;
  top: 50%;
  height: 0;
  width: 0;
  margin-top: -8px;
  border: solid transparent;
  border-right-color: var(--text-color);
  border-width: 8px;
  pointer-events: none;
}

.time-wrapper {
  display: inline;

  line-height: 1em;
  font-size: 0.66666em;
  color: var(--text-color-shade2);
  vertical-align: middle;
}

.direction-l .time-wrapper {
  float: left;
}

.direction-r .time-wrapper {
  float: right;
}

.time {
  display: inline-block;
  padding: 4px 6px;
  background: var(--primary);
  padding-top: 0.5rem;
}

.desc {
  margin: 1em 0.75em 0 0;

  font-size: 0.77777em;
  font-style: italic;
  line-height: 1.5em;
}

.desc span {
  color: var(--text-color-shade2);
}

.direction-r .desc {
  margin: 1em 0 0 0.75em;
}

/* ================ Timeline Media Queries ================ */

@media screen and (max-width: 825px) {
  /* Have to add this on specific width */
  .timeline {
    width: 100%;
    padding: 4em 0 1em 0;
  }

  .timeline li {
    padding: 2em 0;
  }

  .direction-l,
  .direction-r {
    float: none;
    width: 100%;

    text-align: center;
  }

  .flag-wrapper {
    text-align: center;
  }

  .direction-l .flag:before,
  .direction-r .flag:before {
    position: absolute;
    top: -30px;
    left: 50%;
    content: " ";
    display: block;
    margin-left: -9px;
  }

  .direction-l .flag:after,
  .direction-r .flag:after {
    content: "";
    position: absolute;
    left: 50%;
    top: -8px;
    height: 0;
    width: 0;
    margin-left: -8px;
    border: solid transparent;
    border-bottom-color: rgb(255, 255, 255);
    border-width: 8px;
    pointer-events: none;
  }

  .time-wrapper {
    display: block;
    position: relative;
    margin: 4px 0 0 0;
  }

  .flag-flex {
    display: unset !important;
  }

  .direction-l .time-wrapper {
    float: none;
  }

  .direction-r .time-wrapper {
    float: none;
  }

  .desc {
    position: relative;
    margin: 1em 0 0 0;
    padding: 1rem 0.5em;
    background: var(--primary);
    border-radius: 5px;
    -webkit-box-shadow: 0 0 1px desc;
    -moz-box-shadow: 0 0 1px desc;
    box-shadow: 0 0 1px desc;
  }

  .direction-l .desc,
  .direction-r .desc {
    position: relative;
    margin: 1em 1em 0 1em;
    padding: 1em;
  }
}

/* ============== for gradient =============== */
.background-gradient {
  background: var(--background-gradient);
}

@media (min-width: 550px) {
  article {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    gap: 1rem;
  }

  #projects img {
    /*  from column 1 to 6    */
    grid-column: 1/6;
    grid-row: 1/2;
    border-left: 1px solid var(--text-color-shade2);
    border-top: 1px solid var(--text-color-shade2);
  }
  /*  reverse the order. Because image itself has no order associated to it so it comes first  */
  .text {
    order: 2;
    text-align: right;
    grid-column: 5/11;
    grid-row: 1/2;
  }

  #projects ul {
    justify-content: flex-end;
  }

  #projects .reverse img {
    grid-column: 6/11;
    grid-row: 1/2;
    border-left: none;
    border-right: 1px solid var(--text-color-shade2);
    border-top: 1px solid var(--text-color-shade2);
  }

  #projects .reverse .text {
    order: 2;
    text-align: left;
    grid-column: 1/7;
    grid-row: 1/2;
  }

  #projects .reverse ul {
    justify-content: flex-start;
  }
}

@media screen and (min-width: 400px) {
  .direction-l .desc,
  .direction-r .desc {
    margin: 1em 3em 0 3em;
  }
}

/* ========== media query for navigation ============ */
@media (min-width: 850px) {
  nav {
    margin: 0 auto;
  }

  .prefix {
    display: inline;
  }

  #intro {
    margin-top: 70px;
    min-height: calc(100svh - 73px);
  }

  h2 {
    font-size: 3rem;
  }

  .name span {
    font-size: 4rem;
  }

  nav .tooltip {
    position: fixed;
    visibility: hidden;
    top: 4rem;
    left: 170px;
    cursor: pointer;
    padding: 0.5rem;
    overflow: hidden;
    width: 136px;
    white-space: nowrap;
    background-color: var(--text-color);
    color: var(--primary);
    opacity: 0.5;
    border-radius: 0.5rem;
  }

  nav li:first-child {
    flex-basis: auto;
    text-align: left;
    margin-right: auto;
  }

  footer div {
    font-size: 2rem;
  }
}

@media (max-width: 562px) {
  #intro {
    margin-top: 134px;
    min-height: calc(100svh - 137px);
  }
  h2 {
    font-size: 6vw;
  }

  .name span {
    font-size: 7.5vw;
  }

  footer div {
    font-size: 5vw;
  }
}

@media (max-width: 344px) {
  #intro {
    margin-top: 166px;
    min-height: calc(100svh - 169px);
  }
  h2 {
    font-size: 4vw;
  }

  .name span {
    font-size: 4.5vw;
  }

  footer div {
    font-size: 5vw;
  }
}

/* scroll */
.scroll {
  position: absolute;
  bottom: 12px;
  left: 50%;
  width: 10px;
  /* font-size: 2.5vw; */
  color: var(--text-color);
  z-index: 11;
  opacity: 1;
  filter: alpha(opacity=100);
  cursor: pointer;
  -webkit-animation: glow 4s infinite;
  animation: glow 4s infinite;
}

.fa-angle-double-down:before {
  position: absolute;
  left: -7px;
  bottom: 4px;
}

.st1 {
  fill: var(--primary-shade2);
}

.scroll-background {
  display: block;
  position: absolute;
  bottom: -14px;
  width: 220px;
  left: 0;
  right: 0;
  margin: 0 auto;
}

.scroll-background path {
  stroke: var(--gradient-color-shade2);
  fill: var(--primary-shade2);
}

.curve {
  fill: var(--primary);
  stroke: var(--primary);
}
